/*

/* ***************************************************** */
/* ****************    MEDIA QUERIES    **************** */
/* ***************************************************** */


/* ****************    TABLET MAX-WIDTH 800px    **************** */

@media screen and (max-width: 800px) {

#wrapper{
	max-width:800px;
	border:0;
}
#header{
	max-width:800px;
}
nav li{
	margin:0 2.2% 0 0;
	height:3em;
}
nav ul{
	height:2em;
	margin:1em 0 2em 6em;
}
nav ul li a{
	line-height:3em;
	padding:.12em 1em .12em 1em;
}
nav ul li a:hover{
   color:rgb(255,255,255);
}
nav ul li a:active{
   color:rgb(255,0,0);
}
nav ul li:hover{
	background-color:rgb(0,0,0);
}
nav ul li:active{
	background-color:rgb(120,120,120);
}
header #logo{
	position:absolute;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	transform: rotate(-4deg);
	width:432px;
	height:158px;
	margin:-0.25em 0 0 -1.0em;
 	background-image:url(../images/tag.png);
 	background-repeat: no-repeat;
}
section{
	margin:1em 0 4em 0;
}
article h2{
	font-size:1.25em;
	letter-spacing:-.5px;
	margin:1.5em 0 0.3em 1.5%;
}
aside h2{
	font-size:1em;
	font-weight:Bold;
	margin:2.2em 0 0 3%;
}
#googdir{
	margin:0 0 0 .9em;
	width:90%;
	height:2em;
}
#get{
	height:3em;
	border-radius:8px;
	width:90%;
	height:45px;
	font-weight:bold;
	margin:1em 0 0 1em;
}
#bottomMenuArea ul li{
	line-height:250%;
	margin:0 0 0 1em;
}
#bottomMenuArea ul li a{
	border:1px solid black;
	border-radius:3px;
	padding:5px;
}
#bottomMenuArea ul li a:hover{
	color:rgb(255,255,255);
}
#bottomMenuArea ul li a:hover{
	background-color:rgb(0,0,0);
}
#mainMenuDiv{
	float:right;
	width:35%;
	margin:0em 0 0 0;
}
.bigMenuItem{
	border:1px solid black;
	border-radius:6px;
	background-color:white;
	box-shadow:0px 0px 5px rgba(0,0,0, 0.3);
	padding:4px;
	margin:0 0 1.4em 0;
}
.inlineMore{
	margin:0 .2em 0 0;
}
.bigMenuP{
	font-size:90%;
}
#mobileUtility{
   display:none;
}
#footer_1{
	display:none;
}
#footerMobile{
   clear:left;
   display:block;
   margin:64em 0 0 0;
}
#footerMobile ul{

}
#footerMobile ul li{
   margin:0 0 .3333em 0;
   background-color:black;
   color:white;
   border-radius:4px;
   height:3em;
   line-height:3em;
}
#footerMobile ul li a{
   display:block;
   border-bottom:0;
   padding:0 0 0 3em;
   color:white;
   font-size:1.0em;
   font-weight:bold;
}
#footerMobile ul li a:active{
   color:rgb(0,0,0);
}
#footerMobile ul li :active{
   background-color:rgb(255,0,0);
   border-radius:4px;
}

#DTMobileTextBox{
   float:right;
   display:block;
   margin:0em 0 10em 0;
   padding:.625em 0 1.25em 0;
   border-radius:6px;
   width:100%;
   height:150px;
	background:rgba(46,16,85, 0.4);
	border:1px orange solid;
}
#DTakeBlurb{
/* 	overflow:hidden; */
	float:right;
	width:200px;
	height:110px;
	margin:0 3em 0 0;
	padding:6px;
	font-size:0.625em;
	line-height:14px;
	background-color:rgb(240,240,240);
	border-radius:4px;
	border:1px solid green;
}
#mobileFootH2{
   float:left;
   color:white;
   margin:.1em 0 0 0;
   border:1px solid purple;
}
#mobileFootH3{
   float:left;
   color:white;
   font-weight:normal;
   margin:0 0 1em 0;
   border:1px solid yellow;
}
.mobileFootH4{
   float:none;
   font-weight:normal;
   color:white;
}
.address{
	margin:0 0 0 1.15em;
	width:250px;
	border:2px solid red;
}
.place{
	width:12em;
	border:1px solid pink;
}
.hours{
   float:left;
   margin: 0 0 0 2em;
   font-weight:normal;
   border:1px solid green;
}
#copyright{
   font-size:50%;
   color:rgba(255,255,255, 0.35);
   margin:.5em 0 0 0;
}

} /* END 800PX MAX-WIDTH */


/* ****************    PHONE MAX-WIDTH 600px    **************** */

@media screen and (max-width: 600px) {
#wrapper{
	overflow:hidden;
	margin:0 auto;
	padding:0 0.625em 0 0.625em;
	max-width:600px;
	border:0;
	background-color:rgba(255,255,255, 0.15);
}
header{
	margin:0 0 1em 0;
}
header #logo{
	width:380px;
	height:10em;
	margin:.15em 0 0 -.6em;
 	background-image:url(../images/tag.png);
 	background-repeat: no-repeat;
 	background-size:contain;

}
#mainMenuDiv{
	float:left;
	width:100%;
	margin:2.5em 0 0 0;
}
.sliderWideHeadTop h4{ /* TEST NEW */
	font-size:120%;
}
#sliderShort{
	float:none;
	max-width:100%;
	height:auto;  /* ***MADE HEIGHT AUTO*** */
	margin:0 0 2em 0;
}
#mainMenuDiv{
	float:none;
	width:100%;
	margin:0.5em 0 0 0;
}
.bigMenuItem{
	border:1px solid black;
	border-radius:6px;
	background-color:white;
	box-shadow:0px 0px 5px rgba(0,0,0, 0.3);
	padding:4px;
	margin:0 0 0.5em 0;
}
section{
	float:none;
	width:100%;
}
article h2{
	font-size:1.3em;
	letter-spacing:-.5px;
	margin:1.5em 0 0.3em 1.5%;
}
aside{
	float:none;
	width:100%;
	margin:2em 0 0 0;
	border:dotted rgb(0,0,0);
	border-width:0 0 1px 0;
	padding:0 0 3em 0;
}
aside h2{
	font-size:1.8em;
	font-weight:Bold;
	margin:1em 0 0 3%;
}
aside h3{
   font-size:1.3em;
}
#googdir{
	margin:0 0 0 .9em;
	width:95%;
	height:4em;
}
#get{;
	width:95%;
}
aside h4{
	font-size:1.5em;
	font-weight:bold;
	margin:1.2em 0 0 3%;
}
.eventItal{
	font-style:oblique;
	font-size:1.25em;
	line-height:1.25em;
	margin:0 3% 0 6%;
}
#footer_1{
	display:none;
}
#social{
	display:none;
}
nav{
	display:none;
}
#mobileUtility{
	position:absolute;	
	display:inline;
	margin:1em 0 0 28em;
	width:150px;
	height:60px;
}
.mobUtilIcon{
	margin:0 1em 0 0;
}
#footerMobile{
   display:block;
   width:100%;
   height:auto;
   margin:1em 0 0 0;

}
#footerMobile ul{
}
#footerMobile ul li{
   margin:0 0 .3333em 0;
   background-color:black;
   color:white;
   border-radius:4px;
   height:3em;
   line-height:3em;
}
#footerMobile ul li a{
   display:block;
   border-bottom:0;
   padding:0 0 0 3em;
   color:white;
   font-size:1.0em;
   font-weight:bold;
}
#footerMobile ul li a:active{
   color:rgb(0,0,0);
}
#footerMobile ul li :active{
   background-color:rgb(255,0,0);
   border-radius:4px;
}
#mobileSocial {
   display:block;
   margin:2em 0 0 0;
}
#mobileSocial a{
   border-bottom:0;
}
.mobSocIcon{
   margin:1em 2em 0 0 ;
}
/* 
#DTMobileTextBox{
   float:none;
   display:block;
   margin:.5em 0 0 0;
   padding:.625em 0 1.25em 0;
   border-radius:6px;
   width:100%;
   height:200px;
   background-color:rgb(200,200,200);
}
 */
#mobileFootH2{
   float:none;
   color:white;
   margin:.1em 0 0 0;
}
#mobileFootH3{
   float:none;
   color:white;
   font-weight:normal;
   margin:0 0 1em 0;
}
.mobileFootH4{
   float:none;
   font-weight:normal;
   color:white;
}
.place{
	width:12em;
}
.hours{
   float:left;
   color:white;
   margin: 0 0 0 1em;
   font-weight:normal;
}
#copyright{
   font-size:50%;
   color:rgba(255,255,255, 0.35);
   margin:.5em 0 0 0;
}


}
 /* END 600PX MAX-WIDTH */
 
 */